@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


.mb-3{
    display: flex;
    margin-top: 30px;
}
.div-btn{
    display: flex;
    justify-content: flex-end;
}
.TextArea-btn{
    border: none;
    width: auto;
    height: 36px;
    font-size: 15px;
    padding: 0px 16px;
    margin: 0px 0px 0px 12px;
    background: rgb(29, 155, 240);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 30px;
}

.TweetArea-input{
    align-items: center;
}

img{
    border-radius: 50%;
}
.TweetArea{
    display: flex;
    margin: 10px;
    height: auto;
    transition: all ease 1s;
}
.TweetArea-TweetPost{
    display: flex;
    flex-direction: column;
}
.TweetArea-tweet{
    padding: 8px;
}
.tweet{
    font-size: 18px;
}
.user{
    font-weight: bold;
    font-size: 16px;
    padding-left: 6px;
    text-transform: capitalize;
}
.userName{
    font-size: 14px;
    padding-left: 6px;
}